.post-job-img {

    background-image: url("../../Images/post-job.jpg");
    width: 75%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.postJob-overlay {

   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.356);
}

@media only screen and (max-width: 600px) {
    .post-job-img {
        width: 100%;
    }
}